Repository devinchristianson/daj, changes with the labels that .github/labeler.yml gives for each.
All labels: code, tests, frontend, dev, docs, markdown, uml, cicd

Refactoring, added sustain support
  src/static/index.html
  src/static/polychord.js
  src/static/style.css
Labels: code, frontend

[CI SKIP] push pdf docs
  docs/pdf/DAJ_Deliverable_1_SprintReview_1.pdf
  docs/pdf/DAJ_Deliverable_2_DomainModel.pdf
  docs/pdf/DAJ_Deliverable_2_FocusGroup.pdf
  docs/pdf/DAJ_Deliverable_2_ProjectDescription.pdf
  docs/pdf/DAJ_Deliverable_2_SequenceDiagram.pdf
  docs/pdf/DAJ_Deliverable_2_SprintReview_2.pdf
  docs/pdf/DAJ_Deliverable_2_SprintReview_3.pdf
  docs/pdf/DAJ_Deliverable_2_TeamMemberReport_3.pdf
  docs/pdf/DAJ_Deliverable_2_UseCaseModel.pdf
  docs/pdf/DAJ_Deliverable_2_UserStory.pdf
  docs/pdf/DAJ_Deliverable_3_ConfigManagement.pdf
  docs/pdf/DAJ_Deliverable_3_DesignPattern.pdf
  docs/pdf/DAJ_Deliverable_3_SRS.pdf
  docs/pdf/DAJ_Deliverable_3_SoftwareArchitecture.pdf
  docs/pdf/DAJ_Deliverable_3_SprintReview_4.pdf
  docs/pdf/DAJ_Deliverable_3_SprintReview_5.pdf
  docs/pdf/DAJ_Deliverable_3_TestPlan.pdf
Labels: docs

config item identification
  docs/markdown/DAJ_Deliverable_3_ConfigManagement.md
Labels: docs, markdown

add tables to test plan (still need some tests)
  docs/markdown/DAJ_Deliverable_3_TestPlan.md
Labels: docs, markdown

[CI SKIP] push pdf docs
  docs/pdf/DAJ_Deliverable_1_SprintReview_1.pdf
  docs/pdf/DAJ_Deliverable_2_DomainModel.pdf
  docs/pdf/DAJ_Deliverable_2_FocusGroup.pdf
  docs/pdf/DAJ_Deliverable_2_ProjectDescription.pdf
  docs/pdf/DAJ_Deliverable_2_SequenceDiagram.pdf
  docs/pdf/DAJ_Deliverable_2_SprintReview_2.pdf
  docs/pdf/DAJ_Deliverable_2_SprintReview_3.pdf
  docs/pdf/DAJ_Deliverable_2_TeamMemberReport_3.pdf
  docs/pdf/DAJ_Deliverable_2_UseCaseModel.pdf
  docs/pdf/DAJ_Deliverable_2_UserStory.pdf
  docs/pdf/DAJ_Deliverable_3_ConfigManagement.pdf
  docs/pdf/DAJ_Deliverable_3_DesignPattern.pdf
  docs/pdf/DAJ_Deliverable_3_SRS.pdf
  docs/pdf/DAJ_Deliverable_3_SoftwareArchitecture.pdf
  docs/pdf/DAJ_Deliverable_3_SprintReview_4.pdf
  docs/pdf/DAJ_Deliverable_3_SprintReview_5.pdf
  docs/pdf/DAJ_Deliverable_3_TestPlan.pdf
Labels: docs

add detailed design uml files
  docs/assets/uml/detailedDesign.png
  docs/uml/detailedDesign.pu
Labels: docs, uml

[CI SKIP] push pdf docs
  docs/assets/uml/detailedDesign.png
  docs/pdf/DAJ_Deliverable_1_SprintReview_1.pdf
  docs/pdf/DAJ_Deliverable_2_DomainModel.pdf
  docs/pdf/DAJ_Deliverable_2_FocusGroup.pdf
  docs/pdf/DAJ_Deliverable_2_ProjectDescription.pdf
  docs/pdf/DAJ_Deliverable_2_SequenceDiagram.pdf
  docs/pdf/DAJ_Deliverable_2_SprintReview_2.pdf
  docs/pdf/DAJ_Deliverable_2_SprintReview_3.pdf
  docs/pdf/DAJ_Deliverable_2_TeamMemberReport_3.pdf
  docs/pdf/DAJ_Deliverable_2_UseCaseModel.pdf
  docs/pdf/DAJ_Deliverable_2_UserStory.pdf
  docs/pdf/DAJ_Deliverable_3_ConfigManagement.pdf
  docs/pdf/DAJ_Deliverable_3_DesignPattern.pdf
  docs/pdf/DAJ_Deliverable_3_SRS.pdf
  docs/pdf/DAJ_Deliverable_3_SoftwareArchitecture.pdf
  docs/pdf/DAJ_Deliverable_3_SprintReview_4.pdf
  docs/pdf/DAJ_Deliverable_3_SprintReview_5.pdf
  docs/pdf/DAJ_Deliverable_3_TestPlan.pdf
Labels: docs

updated markdown of design doc
  docs/markdown/DAJ_Deliverable_3_DesignPattern.md
Labels: docs, markdown

[CI SKIP] push pdf docs
  docs/pdf/DAJ_Deliverable_1_SprintReview_1.pdf
  docs/pdf/DAJ_Deliverable_2_DomainModel.pdf
  docs/pdf/DAJ_Deliverable_2_FocusGroup.pdf
  docs/pdf/DAJ_Deliverable_2_ProjectDescription.pdf
  docs/pdf/DAJ_Deliverable_2_SequenceDiagram.pdf
  docs/pdf/DAJ_Deliverable_2_SprintReview_2.pdf
  docs/pdf/DAJ_Deliverable_2_SprintReview_3.pdf
  docs/pdf/DAJ_Deliverable_2_TeamMemberReport_3.pdf
  docs/pdf/DAJ_Deliverable_2_UseCaseModel.pdf
  docs/pdf/DAJ_Deliverable_2_UserStory.pdf
  docs/pdf/DAJ_Deliverable_3_ConfigManagement.pdf
  docs/pdf/DAJ_Deliverable_3_DesignPattern.pdf
  docs/pdf/DAJ_Deliverable_3_SRS.pdf
  docs/pdf/DAJ_Deliverable_3_SoftwareArchitecture.pdf
  docs/pdf/DAJ_Deliverable_3_SprintReview_4.pdf
  docs/pdf/DAJ_Deliverable_3_SprintReview_5.pdf
  docs/pdf/DAJ_Deliverable_3_TestPlan.pdf
Labels: docs

new sequence analysis diagrams for excercises
  docs/assets/uml/chordExcerciseSequenceAnalysis.png
  docs/assets/uml/progressionExcerciseSequenceAnalysis.png
  docs/uml/chordExcerciseSequenceAnalysis.pu
  docs/uml/progressionExcerciseSequenceAnalysis.pu
Labels: docs, uml

[CI SKIP] push pdf docs
  docs/assets/uml/chordExcerciseSequenceAnalysis.png
  docs/assets/uml/progressionExcerciseSequenceAnalysis.png
  docs/pdf/DAJ_Deliverable_1_SprintReview_1.pdf
  docs/pdf/DAJ_Deliverable_2_DomainModel.pdf
  docs/pdf/DAJ_Deliverable_2_FocusGroup.pdf
  docs/pdf/DAJ_Deliverable_2_ProjectDescription.pdf
  docs/pdf/DAJ_Deliverable_2_SequenceDiagram.pdf
  docs/pdf/DAJ_Deliverable_2_SprintReview_2.pdf
  docs/pdf/DAJ_Deliverable_2_SprintReview_3.pdf
  docs/pdf/DAJ_Deliverable_2_TeamMemberReport_3.pdf
  docs/pdf/DAJ_Deliverable_2_UseCaseModel.pdf
  docs/pdf/DAJ_Deliverable_2_UserStory.pdf
  docs/pdf/DAJ_Deliverable_3_ConfigManagement.pdf
  docs/pdf/DAJ_Deliverable_3_DesignPattern.pdf
  docs/pdf/DAJ_Deliverable_3_SRS.pdf
  docs/pdf/DAJ_Deliverable_3_SoftwareArchitecture.pdf
  docs/pdf/DAJ_Deliverable_3_SprintReview_4.pdf
  docs/pdf/DAJ_Deliverable_3_SprintReview_5.pdf
  docs/pdf/DAJ_Deliverable_3_TestPlan.pdf
Labels: docs

excercise sequence diagram
  docs/assets/uml/chordExcerciseSequenceDiagram.png
  docs/assets/uml/progressionExcerciseSequenceDiagram.png
  docs/uml/chordExcerciseSequenceAnalysis.pu
  docs/uml/chordExcerciseSequenceDiagram.pu
  docs/uml/progressionExcerciseSequenceAnalysis.pu
  docs/uml/progressionExcerciseSequenceDiagram.pu
Labels: docs, uml

[CI SKIP] push pdf docs
  docs/assets/uml/chordExcerciseSequenceAnalysis.png
  docs/assets/uml/chordExcerciseSequenceDiagram.png
  docs/assets/uml/progressionExcerciseSequenceAnalysis.png
  docs/assets/uml/progressionExcerciseSequenceDiagram.png
  docs/pdf/DAJ_Deliverable_1_SprintReview_1.pdf
  docs/pdf/DAJ_Deliverable_2_DomainModel.pdf
  docs/pdf/DAJ_Deliverable_2_FocusGroup.pdf
  docs/pdf/DAJ_Deliverable_2_ProjectDescription.pdf
  docs/pdf/DAJ_Deliverable_2_SequenceDiagram.pdf
  docs/pdf/DAJ_Deliverable_2_SprintReview_2.pdf
  docs/pdf/DAJ_Deliverable_2_SprintReview_3.pdf
  docs/pdf/DAJ_Deliverable_2_TeamMemberReport_3.pdf
  docs/pdf/DAJ_Deliverable_2_UseCaseModel.pdf
  docs/pdf/DAJ_Deliverable_2_UserStory.pdf
  docs/pdf/DAJ_Deliverable_3_ConfigManagement.pdf
  docs/pdf/DAJ_Deliverable_3_DesignPattern.pdf
  docs/pdf/DAJ_Deliverable_3_SRS.pdf
  docs/pdf/DAJ_Deliverable_3_SoftwareArchitecture.pdf
  docs/pdf/DAJ_Deliverable_3_SprintReview_4.pdf
  docs/pdf/DAJ_Deliverable_3_SprintReview_5.pdf
  docs/pdf/DAJ_Deliverable_3_TestPlan.pdf
Labels: docs

new sequence diagrams, renamed docs for deliverable 3
  docs/markdown/DAJ_Deliverable_3_SequenceDiagram.md
  docs/markdown/DAJ_Deliverable_3_UseCaseModel.md
Labels: docs, markdown

[CI SKIP] push pdf docs
  docs/pdf/DAJ_Deliverable_1_SprintReview_1.pdf
  docs/pdf/DAJ_Deliverable_2_DomainModel.pdf
  docs/pdf/DAJ_Deliverable_2_FocusGroup.pdf
  docs/pdf/DAJ_Deliverable_2_ProjectDescription.pdf
  docs/pdf/DAJ_Deliverable_2_SequenceDiagram.pdf
  docs/pdf/DAJ_Deliverable_2_SprintReview_2.pdf
  docs/pdf/DAJ_Deliverable_2_SprintReview_3.pdf
  docs/pdf/DAJ_Deliverable_2_TeamMemberReport_3.pdf
  docs/pdf/DAJ_Deliverable_2_UseCaseModel.pdf
  docs/pdf/DAJ_Deliverable_2_UserStory.pdf
  docs/pdf/DAJ_Deliverable_3_ConfigManagement.pdf
  docs/pdf/DAJ_Deliverable_3_DesignPattern.pdf
  docs/pdf/DAJ_Deliverable_3_SRS.pdf
  docs/pdf/DAJ_Deliverable_3_SequenceDiagram.pdf
  docs/pdf/DAJ_Deliverable_3_SoftwareArchitecture.pdf
  docs/pdf/DAJ_Deliverable_3_SprintReview_4.pdf
  docs/pdf/DAJ_Deliverable_3_SprintReview_5.pdf
  docs/pdf/DAJ_Deliverable_3_TestPlan.pdf
  docs/pdf/DAJ_Deliverable_3_UseCaseModel.pdf
Labels: docs

Design Pattern and Architecture Docs
  docs/assets/uml/architecture.png
  docs/assets/uml/dcd1.png
  docs/assets/uml/dcd2.png
  docs/assets/uml/detailed_design.png
  docs/markdown/DAJ_Deliverable_3_DesignPattern.md
  docs/markdown/DAJ_Deliverable_3_SoftwareArchitecture.md
Labels: docs, markdown

[CI SKIP] push pdf docs
  docs/assets/uml/architecture.png
  docs/assets/uml/dcd1.png
  docs/assets/uml/dcd2.png
  docs/assets/uml/detailed_design.png
  docs/pdf/DAJ_Deliverable_1_SprintReview_1.pdf
  docs/pdf/DAJ_Deliverable_2_DomainModel.pdf
  docs/pdf/DAJ_Deliverable_2_FocusGroup.pdf
  docs/pdf/DAJ_Deliverable_2_ProjectDescription.pdf
  docs/pdf/DAJ_Deliverable_2_SprintReview_2.pdf
  docs/pdf/DAJ_Deliverable_2_SprintReview_3.pdf
  docs/pdf/DAJ_Deliverable_2_TeamMemberReport_3.pdf
  docs/pdf/DAJ_Deliverable_2_UserStory.pdf
  docs/pdf/DAJ_Deliverable_3_ConfigManagement.pdf
  docs/pdf/DAJ_Deliverable_3_DesignPattern.pdf
  docs/pdf/DAJ_Deliverable_3_SRS.pdf
  docs/pdf/DAJ_Deliverable_3_SequenceDiagram.pdf
  docs/pdf/DAJ_Deliverable_3_SoftwareArchitecture.pdf
  docs/pdf/DAJ_Deliverable_3_SprintReview_4.pdf
  docs/pdf/DAJ_Deliverable_3_SprintReview_5.pdf
  docs/pdf/DAJ_Deliverable_3_TestPlan.pdf
  docs/pdf/DAJ_Deliverable_3_UseCaseModel.pdf
Labels: docs

finish sprint 4 review
  docs/markdown/DAJ_Deliverable_3_SprintReview_4.md
Labels: docs, markdown

add use case and acceptance test cases
  docs/markdown/DAJ_Deliverable_3_TestPlan.md
Labels: docs, markdown

[CI SKIP] push pdf docs
  docs/pdf/DAJ_Deliverable_1_SprintReview_1.pdf
  docs/pdf/DAJ_Deliverable_2_DomainModel.pdf
  docs/pdf/DAJ_Deliverable_2_FocusGroup.pdf
  docs/pdf/DAJ_Deliverable_2_ProjectDescription.pdf
  docs/pdf/DAJ_Deliverable_2_SprintReview_2.pdf
  docs/pdf/DAJ_Deliverable_2_SprintReview_3.pdf
  docs/pdf/DAJ_Deliverable_2_TeamMemberReport_3.pdf
  docs/pdf/DAJ_Deliverable_2_UserStory.pdf
  docs/pdf/DAJ_Deliverable_3_ConfigManagement.pdf
  docs/pdf/DAJ_Deliverable_3_DesignPattern.pdf
  docs/pdf/DAJ_Deliverable_3_SRS.pdf
  docs/pdf/DAJ_Deliverable_3_SequenceDiagram.pdf
  docs/pdf/DAJ_Deliverable_3_SoftwareArchitecture.pdf
  docs/pdf/DAJ_Deliverable_3_SprintReview_4.pdf
  docs/pdf/DAJ_Deliverable_3_SprintReview_5.pdf
  docs/pdf/DAJ_Deliverable_3_TestPlan.pdf
  docs/pdf/DAJ_Deliverable_3_UseCaseModel.pdf
Labels: docs

Fix/Reupload UML pdfs
  docs/assets/architecture.png
  docs/assets/dcd1.png
  docs/assets/dcd2.png
  docs/assets/detailed_design.png
  docs/markdown/DAJ_Deliverable_3_DesignPattern.md
  docs/markdown/DAJ_Deliverable_3_SoftwareArchitecture.md
Labels: docs, markdown

[CI SKIP] push pdf docs
  docs/pdf/DAJ_Deliverable_1_SprintReview_1.pdf
  docs/pdf/DAJ_Deliverable_2_DomainModel.pdf
  docs/pdf/DAJ_Deliverable_2_FocusGroup.pdf
  docs/pdf/DAJ_Deliverable_2_ProjectDescription.pdf
  docs/pdf/DAJ_Deliverable_2_SprintReview_2.pdf
  docs/pdf/DAJ_Deliverable_2_SprintReview_3.pdf
  docs/pdf/DAJ_Deliverable_2_TeamMemberReport_3.pdf
  docs/pdf/DAJ_Deliverable_2_UserStory.pdf
  docs/pdf/DAJ_Deliverable_3_ConfigManagement.pdf
  docs/pdf/DAJ_Deliverable_3_DesignPattern.pdf
  docs/pdf/DAJ_Deliverable_3_SRS.pdf
  docs/pdf/DAJ_Deliverable_3_SequenceDiagram.pdf
  docs/pdf/DAJ_Deliverable_3_SoftwareArchitecture.pdf
  docs/pdf/DAJ_Deliverable_3_SprintReview_4.pdf
  docs/pdf/DAJ_Deliverable_3_SprintReview_5.pdf
  docs/pdf/DAJ_Deliverable_3_TestPlan.pdf
  docs/pdf/DAJ_Deliverable_3_UseCaseModel.pdf
Labels: docs

fix some existing sequence diagrams
  docs/uml/chordmatchSequenceAnalysis.pu
  docs/uml/chordmatchSequenceDesign.pu
Labels: docs, uml

[CI SKIP] push pdf docs
  docs/assets/uml/chordmatchSequenceAnalysis.png
  docs/assets/uml/chordmatchSequenceDesign.png
  docs/pdf/DAJ_Deliverable_1_SprintReview_1.pdf
  docs/pdf/DAJ_Deliverable_2_DomainModel.pdf
  docs/pdf/DAJ_Deliverable_2_FocusGroup.pdf
  docs/pdf/DAJ_Deliverable_2_ProjectDescription.pdf
  docs/pdf/DAJ_Deliverable_2_SprintReview_2.pdf
  docs/pdf/DAJ_Deliverable_2_SprintReview_3.pdf
  docs/pdf/DAJ_Deliverable_2_TeamMemberReport_3.pdf
  docs/pdf/DAJ_Deliverable_2_UserStory.pdf
  docs/pdf/DAJ_Deliverable_3_ConfigManagement.pdf
  docs/pdf/DAJ_Deliverable_3_DesignPattern.pdf
  docs/pdf/DAJ_Deliverable_3_SRS.pdf
  docs/pdf/DAJ_Deliverable_3_SequenceDiagram.pdf
  docs/pdf/DAJ_Deliverable_3_SoftwareArchitecture.pdf
  docs/pdf/DAJ_Deliverable_3_SprintReview_4.pdf
  docs/pdf/DAJ_Deliverable_3_SprintReview_5.pdf
  docs/pdf/DAJ_Deliverable_3_TestPlan.pdf
  docs/pdf/DAJ_Deliverable_3_UseCaseModel.pdf
Labels: docs

cleanup google signon stuff
  src/requirements.txt
  src/server.py
  src/static/index.html
  src/static/polychord.js
Labels: code, frontend

[CI SKIP] push pdf docs
  docs/pdf/DAJ_Deliverable_1_SprintReview_1.pdf
  docs/pdf/DAJ_Deliverable_2_DomainModel.pdf
  docs/pdf/DAJ_Deliverable_2_FocusGroup.pdf
  docs/pdf/DAJ_Deliverable_2_ProjectDescription.pdf
  docs/pdf/DAJ_Deliverable_2_SprintReview_2.pdf
  docs/pdf/DAJ_Deliverable_2_SprintReview_3.pdf
  docs/pdf/DAJ_Deliverable_2_TeamMemberReport_3.pdf
  docs/pdf/DAJ_Deliverable_2_UserStory.pdf
  docs/pdf/DAJ_Deliverable_3_ConfigManagement.pdf
  docs/pdf/DAJ_Deliverable_3_DesignPattern.pdf
  docs/pdf/DAJ_Deliverable_3_SRS.pdf
  docs/pdf/DAJ_Deliverable_3_SequenceDiagram.pdf
  docs/pdf/DAJ_Deliverable_3_SoftwareArchitecture.pdf
  docs/pdf/DAJ_Deliverable_3_SprintReview_4.pdf
  docs/pdf/DAJ_Deliverable_3_SprintReview_5.pdf
  docs/pdf/DAJ_Deliverable_3_TestPlan.pdf
  docs/pdf/DAJ_Deliverable_3_UseCaseModel.pdf
Labels: docs

Update README for v0.0.0.3
  README.md
Labels: none

[CI SKIP] push pdf docs
  docs/pdf/DAJ_Deliverable_1_SprintReview_1.pdf
  docs/pdf/DAJ_Deliverable_2_DomainModel.pdf
  docs/pdf/DAJ_Deliverable_2_FocusGroup.pdf
  docs/pdf/DAJ_Deliverable_2_ProjectDescription.pdf
  docs/pdf/DAJ_Deliverable_2_SprintReview_2.pdf
  docs/pdf/DAJ_Deliverable_2_SprintReview_3.pdf
  docs/pdf/DAJ_Deliverable_2_TeamMemberReport_3.pdf
  docs/pdf/DAJ_Deliverable_2_UserStory.pdf
  docs/pdf/DAJ_Deliverable_3_ConfigManagement.pdf
  docs/pdf/DAJ_Deliverable_3_DesignPattern.pdf
  docs/pdf/DAJ_Deliverable_3_SRS.pdf
  docs/pdf/DAJ_Deliverable_3_SequenceDiagram.pdf
  docs/pdf/DAJ_Deliverable_3_SoftwareArchitecture.pdf
  docs/pdf/DAJ_Deliverable_3_SprintReview_4.pdf
  docs/pdf/DAJ_Deliverable_3_SprintReview_5.pdf
  docs/pdf/DAJ_Deliverable_3_TestPlan.pdf
  docs/pdf/DAJ_Deliverable_3_UseCaseModel.pdf
Labels: docs

Update DAJ_Deliverable_3_ConfigManagement.md
  docs/markdown/DAJ_Deliverable_3_ConfigManagement.md
Labels: docs, markdown

[CI SKIP] push pdf docs
  docs/pdf/DAJ_Deliverable_1_SprintReview_1.pdf
  docs/pdf/DAJ_Deliverable_2_DomainModel.pdf
  docs/pdf/DAJ_Deliverable_2_FocusGroup.pdf
  docs/pdf/DAJ_Deliverable_2_ProjectDescription.pdf
  docs/pdf/DAJ_Deliverable_2_SprintReview_2.pdf
  docs/pdf/DAJ_Deliverable_2_SprintReview_3.pdf
  docs/pdf/DAJ_Deliverable_2_TeamMemberReport_3.pdf
  docs/pdf/DAJ_Deliverable_2_UserStory.pdf
  docs/pdf/DAJ_Deliverable_3_ConfigManagement.pdf
  docs/pdf/DAJ_Deliverable_3_DesignPattern.pdf
  docs/pdf/DAJ_Deliverable_3_SRS.pdf
  docs/pdf/DAJ_Deliverable_3_SequenceDiagram.pdf
  docs/pdf/DAJ_Deliverable_3_SoftwareArchitecture.pdf
  docs/pdf/DAJ_Deliverable_3_SprintReview_4.pdf
  docs/pdf/DAJ_Deliverable_3_SprintReview_5.pdf
  docs/pdf/DAJ_Deliverable_3_TestPlan.pdf
  docs/pdf/DAJ_Deliverable_3_UseCaseModel.pdf
Labels: docs

Update DAJ_Deliverable_3_ConfigManagement.md
  docs/markdown/DAJ_Deliverable_3_ConfigManagement.md
Labels: docs, markdown

[CI SKIP] push pdf docs
  docs/pdf/DAJ_Deliverable_1_SprintReview_1.pdf
  docs/pdf/DAJ_Deliverable_2_DomainModel.pdf
  docs/pdf/DAJ_Deliverable_2_FocusGroup.pdf
  docs/pdf/DAJ_Deliverable_2_ProjectDescription.pdf
  docs/pdf/DAJ_Deliverable_2_SprintReview_2.pdf
  docs/pdf/DAJ_Deliverable_2_SprintReview_3.pdf
  docs/pdf/DAJ_Deliverable_2_TeamMemberReport_3.pdf
  docs/pdf/DAJ_Deliverable_2_UserStory.pdf
  docs/pdf/DAJ_Deliverable_3_ConfigManagement.pdf
  docs/pdf/DAJ_Deliverable_3_DesignPattern.pdf
  docs/pdf/DAJ_Deliverable_3_SRS.pdf
  docs/pdf/DAJ_Deliverable_3_SequenceDiagram.pdf
  docs/pdf/DAJ_Deliverable_3_SoftwareArchitecture.pdf
  docs/pdf/DAJ_Deliverable_3_SprintReview_4.pdf
  docs/pdf/DAJ_Deliverable_3_SprintReview_5.pdf
  docs/pdf/DAJ_Deliverable_3_TestPlan.pdf
  docs/pdf/DAJ_Deliverable_3_UseCaseModel.pdf
Labels: docs

clean up config doc, complete some unfinished sections
  docs/markdown/DAJ_Deliverable_3_ConfigManagement.md
Labels: docs, markdown

[CI SKIP] push pdf docs
  docs/pdf/DAJ_Deliverable_1_SprintReview_1.pdf
  docs/pdf/DAJ_Deliverable_2_DomainModel.pdf
  docs/pdf/DAJ_Deliverable_2_FocusGroup.pdf
  docs/pdf/DAJ_Deliverable_2_ProjectDescription.pdf
  docs/pdf/DAJ_Deliverable_2_SprintReview_2.pdf
  docs/pdf/DAJ_Deliverable_2_SprintReview_3.pdf
  docs/pdf/DAJ_Deliverable_2_TeamMemberReport_3.pdf
  docs/pdf/DAJ_Deliverable_2_UserStory.pdf
  docs/pdf/DAJ_Deliverable_3_ConfigManagement.pdf
  docs/pdf/DAJ_Deliverable_3_DesignPattern.pdf
  docs/pdf/DAJ_Deliverable_3_SRS.pdf
  docs/pdf/DAJ_Deliverable_3_SequenceDiagram.pdf
  docs/pdf/DAJ_Deliverable_3_SoftwareArchitecture.pdf
  docs/pdf/DAJ_Deliverable_3_SprintReview_4.pdf
  docs/pdf/DAJ_Deliverable_3_SprintReview_5.pdf
  docs/pdf/DAJ_Deliverable_3_TestPlan.pdf
  docs/pdf/DAJ_Deliverable_3_UseCaseModel.pdf
Labels: docs

Fix indentation in Configuration Identification
  docs/markdown/DAJ_Deliverable_3_ConfigManagement.md
Labels: docs, markdown

[CI SKIP] push pdf docs
  docs/pdf/DAJ_Deliverable_1_SprintReview_1.pdf
  docs/pdf/DAJ_Deliverable_2_DomainModel.pdf
  docs/pdf/DAJ_Deliverable_2_FocusGroup.pdf
  docs/pdf/DAJ_Deliverable_2_ProjectDescription.pdf
  docs/pdf/DAJ_Deliverable_2_SprintReview_2.pdf
  docs/pdf/DAJ_Deliverable_2_SprintReview_3.pdf
  docs/pdf/DAJ_Deliverable_2_TeamMemberReport_3.pdf
  docs/pdf/DAJ_Deliverable_2_UserStory.pdf
  docs/pdf/DAJ_Deliverable_3_ConfigManagement.pdf
  docs/pdf/DAJ_Deliverable_3_DesignPattern.pdf
  docs/pdf/DAJ_Deliverable_3_SRS.pdf
  docs/pdf/DAJ_Deliverable_3_SequenceDiagram.pdf
  docs/pdf/DAJ_Deliverable_3_SoftwareArchitecture.pdf
  docs/pdf/DAJ_Deliverable_3_SprintReview_4.pdf
  docs/pdf/DAJ_Deliverable_3_SprintReview_5.pdf
  docs/pdf/DAJ_Deliverable_3_TestPlan.pdf
  docs/pdf/DAJ_Deliverable_3_UseCaseModel.pdf
Labels: docs

Update DAJ_Deliverable_3_ConfigManagement.md
  docs/markdown/DAJ_Deliverable_3_ConfigManagement.md
Labels: docs, markdown

[CI SKIP] push pdf docs
  docs/pdf/DAJ_Deliverable_1_SprintReview_1.pdf
  docs/pdf/DAJ_Deliverable_2_DomainModel.pdf
  docs/pdf/DAJ_Deliverable_2_FocusGroup.pdf
  docs/pdf/DAJ_Deliverable_2_ProjectDescription.pdf
  docs/pdf/DAJ_Deliverable_2_SprintReview_2.pdf
  docs/pdf/DAJ_Deliverable_2_SprintReview_3.pdf
  docs/pdf/DAJ_Deliverable_2_TeamMemberReport_3.pdf
  docs/pdf/DAJ_Deliverable_2_UserStory.pdf
  docs/pdf/DAJ_Deliverable_3_ConfigManagement.pdf
  docs/pdf/DAJ_Deliverable_3_DesignPattern.pdf
  docs/pdf/DAJ_Deliverable_3_SRS.pdf
  docs/pdf/DAJ_Deliverable_3_SequenceDiagram.pdf
  docs/pdf/DAJ_Deliverable_3_SoftwareArchitecture.pdf
  docs/pdf/DAJ_Deliverable_3_SprintReview_4.pdf
  docs/pdf/DAJ_Deliverable_3_SprintReview_5.pdf
  docs/pdf/DAJ_Deliverable_3_TestPlan.pdf
  docs/pdf/DAJ_Deliverable_3_UseCaseModel.pdf
Labels: docs

Add section 4 to Config Management Plan
  docs/markdown/DAJ_Deliverable_3_ConfigManagement.md
Labels: docs, markdown

[CI SKIP] push pdf docs
  docs/pdf/DAJ_Deliverable_1_SprintReview_1.pdf
  docs/pdf/DAJ_Deliverable_2_DomainModel.pdf
  docs/pdf/DAJ_Deliverable_2_FocusGroup.pdf
  docs/pdf/DAJ_Deliverable_2_ProjectDescription.pdf
  docs/pdf/DAJ_Deliverable_2_SprintReview_2.pdf
  docs/pdf/DAJ_Deliverable_2_SprintReview_3.pdf
  docs/pdf/DAJ_Deliverable_2_TeamMemberReport_3.pdf
  docs/pdf/DAJ_Deliverable_2_UserStory.pdf
  docs/pdf/DAJ_Deliverable_3_ConfigManagement.pdf
  docs/pdf/DAJ_Deliverable_3_DesignPattern.pdf
  docs/pdf/DAJ_Deliverable_3_SRS.pdf
  docs/pdf/DAJ_Deliverable_3_SequenceDiagram.pdf
  docs/pdf/DAJ_Deliverable_3_SoftwareArchitecture.pdf
  docs/pdf/DAJ_Deliverable_3_SprintReview_4.pdf
  docs/pdf/DAJ_Deliverable_3_SprintReview_5.pdf
  docs/pdf/DAJ_Deliverable_3_TestPlan.pdf
  docs/pdf/DAJ_Deliverable_3_UseCaseModel.pdf
Labels: docs

.github/labeler.yml:

# Add 'code' to any changes within 'src' folder or any subfolders
code:
  - src/**/*
tests:
  - src/tests/**/*
frontend:
  - src/static/**/*
dev:
  - src/.devcontainer/**/*
 # Add 'code' to any changes docs 'example' folder or any subfolders
docs:
  - docs/**/*
markdown:
  - docs/markdown/*
uml:
  - docs/uml/*
cicd:
  - .github/**/*
  - .github*
  - .drone/**/*
  - .drone*
