Repository devinchristianson/daj, changes with the labels that .github/labeler.yml gives for each.
All labels: code, tests, frontend, dev, docs, markdown, uml, cicd

.github/labeler.yml:

# Add 'code' to any changes within 'src' folder or any subfolders
code:
  - src/**/*
tests:
  - src/tests/**/*
frontend:
  - src/static/**/*
dev:
  - src/.devcontainer/**/*
 # Add 'code' to any changes docs 'example' folder or any subfolders
docs:
  - docs/**/*
markdown:
  - docs/markdown/*
uml:
  - docs/uml/*
cicd:
  - .github/**/*
  - .github*
  - .drone/**/*
  - .drone*

[CI SKIP] push pdf docs
  docs/assets/uml/detailedDesign.png
  docs/pdf/DAJ_Deliverable_1_SprintReview_1.pdf
  docs/pdf/DAJ_Deliverable_2_DomainModel.pdf
  docs/pdf/DAJ_Deliverable_2_FocusGroup.pdf
  docs/pdf/DAJ_Deliverable_2_ProjectDescription.pdf
  docs/pdf/DAJ_Deliverable_2_SprintReview_2.pdf
  docs/pdf/DAJ_Deliverable_2_SprintReview_3.pdf
  docs/pdf/DAJ_Deliverable_2_TeamMemberReport_3.pdf
  docs/pdf/DAJ_Deliverable_2_UserStory.pdf
  docs/pdf/DAJ_Deliverable_3_ConfigManagement.pdf
  docs/pdf/DAJ_Deliverable_3_SRS.pdf
  docs/pdf/DAJ_Deliverable_3_SequenceDiagram.pdf
  docs/pdf/DAJ_Deliverable_3_SoftwareArchitecture.pdf
  docs/pdf/DAJ_Deliverable_3_SprintReview_4.pdf
  docs/pdf/DAJ_Deliverable_3_SprintReview_5.pdf
  docs/pdf/DAJ_Deliverable_3_UseCaseModel.pdf
  docs/pdf/DAJ_Deliverable_4_DesignPattern.pdf
  docs/pdf/DAJ_Deliverable_4_FuturePlan.pdf
  docs/pdf/DAJ_Deliverable_4_SprintReview_6.pdf
  docs/pdf/DAJ_Deliverable_4_TestPlan.pdf
Labels: docs

Update and rename DAJ_Deliverable_3_SRS.md to DAJ_Deliverable_4_SRS.md
  docs/markdown/DAJ_Deliverable_4_SRS.md
Labels: docs, markdown

metronome test add, midi test fix
  src/static/polychord.js
  src/tests/polychordSpec.js
Labels: code, tests, frontend

Future Plan Doc
  docs/markdown/DAJ_Deliverable_4_FuturePlan.md
Labels: docs, markdown

[CI SKIP] push pdf docs
  docs/pdf/DAJ_Deliverable_1_SprintReview_1.pdf
  docs/pdf/DAJ_Deliverable_2_DomainModel.pdf
  docs/pdf/DAJ_Deliverable_2_FocusGroup.pdf
  docs/pdf/DAJ_Deliverable_2_ProjectDescription.pdf
  docs/pdf/DAJ_Deliverable_2_SprintReview_2.pdf
  docs/pdf/DAJ_Deliverable_2_SprintReview_3.pdf
  docs/pdf/DAJ_Deliverable_2_TeamMemberReport_3.pdf
  docs/pdf/DAJ_Deliverable_2_UserStory.pdf
  docs/pdf/DAJ_Deliverable_3_ConfigManagement.pdf
  docs/pdf/DAJ_Deliverable_3_SRS.pdf
  docs/pdf/DAJ_Deliverable_3_SequenceDiagram.pdf
  docs/pdf/DAJ_Deliverable_3_SoftwareArchitecture.pdf
  docs/pdf/DAJ_Deliverable_3_SprintReview_4.pdf
  docs/pdf/DAJ_Deliverable_3_SprintReview_5.pdf
  docs/pdf/DAJ_Deliverable_3_UseCaseModel.pdf
  docs/pdf/DAJ_Deliverable_4_DesignPattern.pdf
  docs/pdf/DAJ_Deliverable_4_FuturePlan.pdf
  docs/pdf/DAJ_Deliverable_4_SprintReview_6.pdf
  docs/pdf/DAJ_Deliverable_4_TestPlan.pdf
Labels: docs

[CI SKIP] push pdf docs
  docs/pdf/DAJ_Deliverable_1_SprintReview_1.pdf
  docs/pdf/DAJ_Deliverable_2_DomainModel.pdf
  docs/pdf/DAJ_Deliverable_2_FocusGroup.pdf
  docs/pdf/DAJ_Deliverable_2_ProjectDescription.pdf
  docs/pdf/DAJ_Deliverable_2_SprintReview_2.pdf
  docs/pdf/DAJ_Deliverable_2_SprintReview_3.pdf
  docs/pdf/DAJ_Deliverable_2_TeamMemberReport_3.pdf
  docs/pdf/DAJ_Deliverable_2_UserStory.pdf
  docs/pdf/DAJ_Deliverable_3_ConfigManagement.pdf
  docs/pdf/DAJ_Deliverable_3_SRS.pdf
  docs/pdf/DAJ_Deliverable_3_SequenceDiagram.pdf
  docs/pdf/DAJ_Deliverable_3_SoftwareArchitecture.pdf
  docs/pdf/DAJ_Deliverable_3_SprintReview_4.pdf
  docs/pdf/DAJ_Deliverable_3_SprintReview_5.pdf
  docs/pdf/DAJ_Deliverable_3_UseCaseModel.pdf
  docs/pdf/DAJ_Deliverable_4_DesignPattern.pdf
  docs/pdf/DAJ_Deliverable_4_FuturePlan.pdf
  docs/pdf/DAJ_Deliverable_4_SprintReview_6.pdf
  docs/pdf/DAJ_Deliverable_4_TestPlan.pdf
Labels: docs

Update and rename DAJ_Deliverable_3_ConfigManagement.md to DAJ_Deliverable_4_ConfigManagement.md
  docs/markdown/DAJ_Deliverable_4_ConfigManagement.md
Labels: docs, markdown

[CI SKIP] push pdf docs
  docs/pdf/DAJ_Deliverable_1_SprintReview_1.pdf
  docs/pdf/DAJ_Deliverable_2_DomainModel.pdf
  docs/pdf/DAJ_Deliverable_2_FocusGroup.pdf
  docs/pdf/DAJ_Deliverable_2_ProjectDescription.pdf
  docs/pdf/DAJ_Deliverable_2_SprintReview_2.pdf
  docs/pdf/DAJ_Deliverable_2_SprintReview_3.pdf
  docs/pdf/DAJ_Deliverable_2_TeamMemberReport_3.pdf
  docs/pdf/DAJ_Deliverable_2_UserStory.pdf
  docs/pdf/DAJ_Deliverable_3_ConfigManagement.pdf
  docs/pdf/DAJ_Deliverable_3_SRS.pdf
  docs/pdf/DAJ_Deliverable_3_SequenceDiagram.pdf
  docs/pdf/DAJ_Deliverable_3_SoftwareArchitecture.pdf
  docs/pdf/DAJ_Deliverable_3_SprintReview_4.pdf
  docs/pdf/DAJ_Deliverable_3_SprintReview_5.pdf
  docs/pdf/DAJ_Deliverable_3_UseCaseModel.pdf
  docs/pdf/DAJ_Deliverable_4_ConfigManagement.pdf
  docs/pdf/DAJ_Deliverable_4_DesignPattern.pdf
  docs/pdf/DAJ_Deliverable_4_FuturePlan.pdf
  docs/pdf/DAJ_Deliverable_4_SprintReview_6.pdf
  docs/pdf/DAJ_Deliverable_4_TestPlan.pdf
Labels: docs

[CI SKIP] push pdf docs
  docs/pdf/DAJ_Deliverable_1_SprintReview_1.pdf
  docs/pdf/DAJ_Deliverable_2_DomainModel.pdf
  docs/pdf/DAJ_Deliverable_2_FocusGroup.pdf
  docs/pdf/DAJ_Deliverable_2_ProjectDescription.pdf
  docs/pdf/DAJ_Deliverable_2_SprintReview_2.pdf
  docs/pdf/DAJ_Deliverable_2_SprintReview_3.pdf
  docs/pdf/DAJ_Deliverable_2_TeamMemberReport_3.pdf
  docs/pdf/DAJ_Deliverable_2_UserStory.pdf
  docs/pdf/DAJ_Deliverable_3_SRS.pdf
  docs/pdf/DAJ_Deliverable_3_SequenceDiagram.pdf
  docs/pdf/DAJ_Deliverable_3_SoftwareArchitecture.pdf
  docs/pdf/DAJ_Deliverable_3_SprintReview_4.pdf
  docs/pdf/DAJ_Deliverable_3_SprintReview_5.pdf
  docs/pdf/DAJ_Deliverable_3_UseCaseModel.pdf
  docs/pdf/DAJ_Deliverable_4_ConfigManagement.pdf
  docs/pdf/DAJ_Deliverable_4_DesignPattern.pdf
  docs/pdf/DAJ_Deliverable_4_FuturePlan.pdf
  docs/pdf/DAJ_Deliverable_4_SRS.pdf
  docs/pdf/DAJ_Deliverable_4_SprintReview_6.pdf
  docs/pdf/DAJ_Deliverable_4_TestPlan.pdf
Labels: docs

added proof of unit tests
  docs/assets/unitTestProof.png
Labels: docs

[CI SKIP] push pdf docs
  docs/pdf/DAJ_Deliverable_1_SprintReview_1.pdf
  docs/pdf/DAJ_Deliverable_2_DomainModel.pdf
  docs/pdf/DAJ_Deliverable_2_FocusGroup.pdf
  docs/pdf/DAJ_Deliverable_2_ProjectDescription.pdf
  docs/pdf/DAJ_Deliverable_2_SprintReview_2.pdf
  docs/pdf/DAJ_Deliverable_2_SprintReview_3.pdf
  docs/pdf/DAJ_Deliverable_2_TeamMemberReport_3.pdf
  docs/pdf/DAJ_Deliverable_2_UserStory.pdf
  docs/pdf/DAJ_Deliverable_3_SequenceDiagram.pdf
  docs/pdf/DAJ_Deliverable_3_SoftwareArchitecture.pdf
  docs/pdf/DAJ_Deliverable_3_SprintReview_4.pdf
  docs/pdf/DAJ_Deliverable_3_SprintReview_5.pdf
  docs/pdf/DAJ_Deliverable_3_UseCaseModel.pdf
  docs/pdf/DAJ_Deliverable_4_ConfigManagement.pdf
  docs/pdf/DAJ_Deliverable_4_DesignPattern.pdf
  docs/pdf/DAJ_Deliverable_4_FuturePlan.pdf
  docs/pdf/DAJ_Deliverable_4_SRS.pdf
  docs/pdf/DAJ_Deliverable_4_SprintReview_6.pdf
  docs/pdf/DAJ_Deliverable_4_TestPlan.pdf
Labels: docs

Update and rename DAJ_Deliverable_3_UseCaseModel.md to DAJ_Deliverable_4_UseCaseModel.md
  docs/markdown/DAJ_Deliverable_4_UseCaseModel.md
Labels: docs, markdown

Update DAJ_Deliverable_4_UseCaseModel.md
  docs/markdown/DAJ_Deliverable_4_UseCaseModel.md
Labels: docs, markdown

Update accountmanagementinterfaceUserCase.pu
  docs/uml/accountmanagementinterfaceUserCase.pu
Labels: docs, uml

Update README.md
  README.md
Labels: none

[CI SKIP] push pdf docs
  docs/pdf/DAJ_Deliverable_1_SprintReview_1.pdf
  docs/pdf/DAJ_Deliverable_2_DomainModel.pdf
  docs/pdf/DAJ_Deliverable_2_FocusGroup.pdf
  docs/pdf/DAJ_Deliverable_2_ProjectDescription.pdf
  docs/pdf/DAJ_Deliverable_2_SprintReview_2.pdf
  docs/pdf/DAJ_Deliverable_2_SprintReview_3.pdf
  docs/pdf/DAJ_Deliverable_2_TeamMemberReport_3.pdf
  docs/pdf/DAJ_Deliverable_2_UserStory.pdf
  docs/pdf/DAJ_Deliverable_3_SequenceDiagram.pdf
  docs/pdf/DAJ_Deliverable_3_SoftwareArchitecture.pdf
  docs/pdf/DAJ_Deliverable_3_SprintReview_4.pdf
  docs/pdf/DAJ_Deliverable_3_SprintReview_5.pdf
  docs/pdf/DAJ_Deliverable_3_UseCaseModel.pdf
  docs/pdf/DAJ_Deliverable_4_ConfigManagement.pdf
  docs/pdf/DAJ_Deliverable_4_DesignPattern.pdf
  docs/pdf/DAJ_Deliverable_4_FuturePlan.pdf
  docs/pdf/DAJ_Deliverable_4_SRS.pdf
  docs/pdf/DAJ_Deliverable_4_SprintReview_6.pdf
  docs/pdf/DAJ_Deliverable_4_TestPlan.pdf
Labels: docs

Update DAJ_Deliverable_4_UseCaseModel.md
  docs/markdown/DAJ_Deliverable_4_UseCaseModel.md
Labels: docs, markdown

[CI SKIP] push pdf docs
  docs/assets/uml/accountmanagementinterfaceUserCase.png
  docs/pdf/DAJ_Deliverable_1_SprintReview_1.pdf
  docs/pdf/DAJ_Deliverable_2_DomainModel.pdf
  docs/pdf/DAJ_Deliverable_2_FocusGroup.pdf
  docs/pdf/DAJ_Deliverable_2_ProjectDescription.pdf
  docs/pdf/DAJ_Deliverable_2_SprintReview_2.pdf
  docs/pdf/DAJ_Deliverable_2_SprintReview_3.pdf
  docs/pdf/DAJ_Deliverable_2_TeamMemberReport_3.pdf
  docs/pdf/DAJ_Deliverable_2_UserStory.pdf
  docs/pdf/DAJ_Deliverable_3_SequenceDiagram.pdf
  docs/pdf/DAJ_Deliverable_3_SoftwareArchitecture.pdf
  docs/pdf/DAJ_Deliverable_3_SprintReview_4.pdf
  docs/pdf/DAJ_Deliverable_3_SprintReview_5.pdf
  docs/pdf/DAJ_Deliverable_3_UseCaseModel.pdf
  docs/pdf/DAJ_Deliverable_4_ConfigManagement.pdf
  docs/pdf/DAJ_Deliverable_4_DesignPattern.pdf
  docs/pdf/DAJ_Deliverable_4_FuturePlan.pdf
  docs/pdf/DAJ_Deliverable_4_SRS.pdf
  docs/pdf/DAJ_Deliverable_4_SprintReview_6.pdf
  docs/pdf/DAJ_Deliverable_4_TestPlan.pdf
  docs/pdf/DAJ_Deliverable_4_UseCaseModel.pdf
Labels: docs

Rename DAJ_Deliverable_3_SequenceDiagram.md to DAJ_Deliverable_4_SequenceDiagram.md
  docs/markdown/DAJ_Deliverable_4_SequenceDiagram.md
Labels: docs, markdown

[CI SKIP] push pdf docs
  docs/pdf/DAJ_Deliverable_1_SprintReview_1.pdf
  docs/pdf/DAJ_Deliverable_2_DomainModel.pdf
  docs/pdf/DAJ_Deliverable_2_FocusGroup.pdf
  docs/pdf/DAJ_Deliverable_2_ProjectDescription.pdf
  docs/pdf/DAJ_Deliverable_2_SprintReview_2.pdf
  docs/pdf/DAJ_Deliverable_2_SprintReview_3.pdf
  docs/pdf/DAJ_Deliverable_2_TeamMemberReport_3.pdf
  docs/pdf/DAJ_Deliverable_2_UserStory.pdf
  docs/pdf/DAJ_Deliverable_3_SequenceDiagram.pdf
  docs/pdf/DAJ_Deliverable_3_SoftwareArchitecture.pdf
  docs/pdf/DAJ_Deliverable_3_SprintReview_4.pdf
  docs/pdf/DAJ_Deliverable_3_SprintReview_5.pdf
  docs/pdf/DAJ_Deliverable_4_ConfigManagement.pdf
  docs/pdf/DAJ_Deliverable_4_DesignPattern.pdf
  docs/pdf/DAJ_Deliverable_4_FuturePlan.pdf
  docs/pdf/DAJ_Deliverable_4_SRS.pdf
  docs/pdf/DAJ_Deliverable_4_SequenceDiagram.pdf
  docs/pdf/DAJ_Deliverable_4_SprintReview_6.pdf
  docs/pdf/DAJ_Deliverable_4_TestPlan.pdf
  docs/pdf/DAJ_Deliverable_4_UseCaseModel.pdf
Labels: docs

Update and rename DAJ_Deliverable_3_SoftwareArchitecture.md to DAJ_Deliverable_4_SoftwareArchitecture.md
  docs/markdown/DAJ_Deliverable_4_SoftwareArchitecture.md
Labels: docs, markdown

Update DAJ_Deliverable_4_SoftwareArchitecture.md
  docs/markdown/DAJ_Deliverable_4_SoftwareArchitecture.md
Labels: docs, markdown

Update DAJ_Deliverable_4_SoftwareArchitecture.md
  docs/markdown/DAJ_Deliverable_4_SoftwareArchitecture.md
Labels: docs, markdown

[CI SKIP] push pdf docs
  docs/pdf/DAJ_Deliverable_1_SprintReview_1.pdf
  docs/pdf/DAJ_Deliverable_2_DomainModel.pdf
  docs/pdf/DAJ_Deliverable_2_FocusGroup.pdf
  docs/pdf/DAJ_Deliverable_2_ProjectDescription.pdf
  docs/pdf/DAJ_Deliverable_2_SprintReview_2.pdf
  docs/pdf/DAJ_Deliverable_2_SprintReview_3.pdf
  docs/pdf/DAJ_Deliverable_2_TeamMemberReport_3.pdf
  docs/pdf/DAJ_Deliverable_2_UserStory.pdf
  docs/pdf/DAJ_Deliverable_3_SoftwareArchitecture.pdf
  docs/pdf/DAJ_Deliverable_3_SprintReview_4.pdf
  docs/pdf/DAJ_Deliverable_3_SprintReview_5.pdf
  docs/pdf/DAJ_Deliverable_4_ConfigManagement.pdf
  docs/pdf/DAJ_Deliverable_4_DesignPattern.pdf
  docs/pdf/DAJ_Deliverable_4_FuturePlan.pdf
  docs/pdf/DAJ_Deliverable_4_SRS.pdf
  docs/pdf/DAJ_Deliverable_4_SequenceDiagram.pdf
  docs/pdf/DAJ_Deliverable_4_SoftwareArchitecture.pdf
  docs/pdf/DAJ_Deliverable_4_SprintReview_6.pdf
  docs/pdf/DAJ_Deliverable_4_TestPlan.pdf
  docs/pdf/DAJ_Deliverable_4_UseCaseModel.pdf
Labels: docs

Rename DAJ_Deliverable_2_DomainModel.md to DAJ_Deliverable_4_DomainModel.md
  docs/markdown/DAJ_Deliverable_4_DomainModel.md
Labels: docs, markdown

[CI SKIP] push pdf docs
  docs/pdf/DAJ_Deliverable_1_SprintReview_1.pdf
  docs/pdf/DAJ_Deliverable_2_DomainModel.pdf
  docs/pdf/DAJ_Deliverable_2_FocusGroup.pdf
  docs/pdf/DAJ_Deliverable_2_ProjectDescription.pdf
  docs/pdf/DAJ_Deliverable_2_SprintReview_2.pdf
  docs/pdf/DAJ_Deliverable_2_SprintReview_3.pdf
  docs/pdf/DAJ_Deliverable_2_TeamMemberReport_3.pdf
  docs/pdf/DAJ_Deliverable_2_UserStory.pdf
  docs/pdf/DAJ_Deliverable_3_SprintReview_4.pdf
  docs/pdf/DAJ_Deliverable_3_SprintReview_5.pdf
  docs/pdf/DAJ_Deliverable_4_ConfigManagement.pdf
  docs/pdf/DAJ_Deliverable_4_DesignPattern.pdf
  docs/pdf/DAJ_Deliverable_4_DomainModel.pdf
  docs/pdf/DAJ_Deliverable_4_FuturePlan.pdf
  docs/pdf/DAJ_Deliverable_4_SRS.pdf
  docs/pdf/DAJ_Deliverable_4_SequenceDiagram.pdf
  docs/pdf/DAJ_Deliverable_4_SoftwareArchitecture.pdf
  docs/pdf/DAJ_Deliverable_4_SprintReview_6.pdf
  docs/pdf/DAJ_Deliverable_4_TestPlan.pdf
  docs/pdf/DAJ_Deliverable_4_UseCaseModel.pdf
Labels: docs
