Repository devinchristianson/daj, changes with the labels that .github/labeler.yml gives for each.
All labels: code, tests, frontend, dev, docs, markdown, uml, cicd

Sprint 5 Review
  docs/markdown/DAJ_Deliverable_3_SprintReview_5.md
Labels: docs, markdown

[CI SKIP] push pdf docs
  docs/pdf/DAJ_Deliverable_1_SprintReview_1.pdf
  docs/pdf/DAJ_Deliverable_2_DomainModel.pdf
  docs/pdf/DAJ_Deliverable_2_FocusGroup.pdf
  docs/pdf/DAJ_Deliverable_2_ProjectDescription.pdf
  docs/pdf/DAJ_Deliverable_2_SprintReview_2.pdf
  docs/pdf/DAJ_Deliverable_2_SprintReview_3.pdf
  docs/pdf/DAJ_Deliverable_2_TeamMemberReport_3.pdf
  docs/pdf/DAJ_Deliverable_2_UserStory.pdf
  docs/pdf/DAJ_Deliverable_3_ConfigManagement.pdf
  docs/pdf/DAJ_Deliverable_3_DesignPattern.pdf
  docs/pdf/DAJ_Deliverable_3_SRS.pdf
  docs/pdf/DAJ_Deliverable_3_SequenceDiagram.pdf
  docs/pdf/DAJ_Deliverable_3_SoftwareArchitecture.pdf
  docs/pdf/DAJ_Deliverable_3_SprintReview_4.pdf
  docs/pdf/DAJ_Deliverable_3_SprintReview_5.pdf
  docs/pdf/DAJ_Deliverable_3_TestPlan.pdf
  docs/pdf/DAJ_Deliverable_3_UseCaseModel.pdf
Labels: docs

fix wording in sections 4.1.1 and 4.1.2
  docs/markdown/DAJ_Deliverable_3_ConfigManagement.md
Labels: docs, markdown

[CI SKIP] push pdf docs
  docs/pdf/DAJ_Deliverable_1_SprintReview_1.pdf
  docs/pdf/DAJ_Deliverable_2_DomainModel.pdf
  docs/pdf/DAJ_Deliverable_2_FocusGroup.pdf
  docs/pdf/DAJ_Deliverable_2_ProjectDescription.pdf
  docs/pdf/DAJ_Deliverable_2_SprintReview_2.pdf
  docs/pdf/DAJ_Deliverable_2_SprintReview_3.pdf
  docs/pdf/DAJ_Deliverable_2_TeamMemberReport_3.pdf
  docs/pdf/DAJ_Deliverable_2_UserStory.pdf
  docs/pdf/DAJ_Deliverable_3_ConfigManagement.pdf
  docs/pdf/DAJ_Deliverable_3_DesignPattern.pdf
  docs/pdf/DAJ_Deliverable_3_SRS.pdf
  docs/pdf/DAJ_Deliverable_3_SequenceDiagram.pdf
  docs/pdf/DAJ_Deliverable_3_SoftwareArchitecture.pdf
  docs/pdf/DAJ_Deliverable_3_SprintReview_4.pdf
  docs/pdf/DAJ_Deliverable_3_SprintReview_5.pdf
  docs/pdf/DAJ_Deliverable_3_TestPlan.pdf
  docs/pdf/DAJ_Deliverable_3_UseCaseModel.pdf
Labels: docs

add test for midi access
  src/tests/polychordSpec.js
Labels: code, tests

[CI SKIP] push pdf docs
  docs/pdf/DAJ_Deliverable_1_SprintReview_1.pdf
  docs/pdf/DAJ_Deliverable_2_DomainModel.pdf
  docs/pdf/DAJ_Deliverable_2_FocusGroup.pdf
  docs/pdf/DAJ_Deliverable_2_ProjectDescription.pdf
  docs/pdf/DAJ_Deliverable_2_SprintReview_2.pdf
  docs/pdf/DAJ_Deliverable_2_SprintReview_3.pdf
  docs/pdf/DAJ_Deliverable_2_TeamMemberReport_3.pdf
  docs/pdf/DAJ_Deliverable_2_UserStory.pdf
  docs/pdf/DAJ_Deliverable_3_ConfigManagement.pdf
  docs/pdf/DAJ_Deliverable_3_DesignPattern.pdf
  docs/pdf/DAJ_Deliverable_3_SRS.pdf
  docs/pdf/DAJ_Deliverable_3_SequenceDiagram.pdf
  docs/pdf/DAJ_Deliverable_3_SoftwareArchitecture.pdf
  docs/pdf/DAJ_Deliverable_3_SprintReview_4.pdf
  docs/pdf/DAJ_Deliverable_3_SprintReview_5.pdf
  docs/pdf/DAJ_Deliverable_3_TestPlan.pdf
  docs/pdf/DAJ_Deliverable_3_UseCaseModel.pdf
Labels: docs

extend section 5
  docs/markdown/DAJ_Deliverable_3_ConfigManagement.md
Labels: docs, markdown

[CI SKIP] push pdf docs
  docs/pdf/DAJ_Deliverable_1_SprintReview_1.pdf
  docs/pdf/DAJ_Deliverable_2_DomainModel.pdf
  docs/pdf/DAJ_Deliverable_2_FocusGroup.pdf
  docs/pdf/DAJ_Deliverable_2_ProjectDescription.pdf
  docs/pdf/DAJ_Deliverable_2_SprintReview_2.pdf
  docs/pdf/DAJ_Deliverable_2_SprintReview_3.pdf
  docs/pdf/DAJ_Deliverable_2_TeamMemberReport_3.pdf
  docs/pdf/DAJ_Deliverable_2_UserStory.pdf
  docs/pdf/DAJ_Deliverable_3_ConfigManagement.pdf
  docs/pdf/DAJ_Deliverable_3_DesignPattern.pdf
  docs/pdf/DAJ_Deliverable_3_SRS.pdf
  docs/pdf/DAJ_Deliverable_3_SequenceDiagram.pdf
  docs/pdf/DAJ_Deliverable_3_SoftwareArchitecture.pdf
  docs/pdf/DAJ_Deliverable_3_SprintReview_4.pdf
  docs/pdf/DAJ_Deliverable_3_SprintReview_5.pdf
  docs/pdf/DAJ_Deliverable_3_TestPlan.pdf
  docs/pdf/DAJ_Deliverable_3_UseCaseModel.pdf
Labels: docs

midi test plan
  docs/markdown/DAJ_Deliverable_3_TestPlan.md
Labels: docs, markdown

[CI SKIP] push pdf docs
  docs/pdf/DAJ_Deliverable_1_SprintReview_1.pdf
  docs/pdf/DAJ_Deliverable_2_DomainModel.pdf
  docs/pdf/DAJ_Deliverable_2_FocusGroup.pdf
  docs/pdf/DAJ_Deliverable_2_ProjectDescription.pdf
  docs/pdf/DAJ_Deliverable_2_SprintReview_2.pdf
  docs/pdf/DAJ_Deliverable_2_SprintReview_3.pdf
  docs/pdf/DAJ_Deliverable_2_TeamMemberReport_3.pdf
  docs/pdf/DAJ_Deliverable_2_UserStory.pdf
  docs/pdf/DAJ_Deliverable_3_ConfigManagement.pdf
  docs/pdf/DAJ_Deliverable_3_DesignPattern.pdf
  docs/pdf/DAJ_Deliverable_3_SRS.pdf
  docs/pdf/DAJ_Deliverable_3_SequenceDiagram.pdf
  docs/pdf/DAJ_Deliverable_3_SoftwareArchitecture.pdf
  docs/pdf/DAJ_Deliverable_3_SprintReview_4.pdf
  docs/pdf/DAJ_Deliverable_3_SprintReview_5.pdf
  docs/pdf/DAJ_Deliverable_3_TestPlan.pdf
  docs/pdf/DAJ_Deliverable_3_UseCaseModel.pdf
Labels: docs

rename docs
  docs/pdf/DAJ_Deliverable_3_DomainModel.pdf
  docs/pdf/DAJ_Deliverable_3_ProjectDescription.pdf
  docs/pdf/DAJ_Deliverable_3_UserStory.pdf
Labels: docs

[CI SKIP] push pdf docs
  docs/pdf/DAJ_Deliverable_1_SprintReview_1.pdf
  docs/pdf/DAJ_Deliverable_2_DomainModel.pdf
  docs/pdf/DAJ_Deliverable_2_FocusGroup.pdf
  docs/pdf/DAJ_Deliverable_2_ProjectDescription.pdf
  docs/pdf/DAJ_Deliverable_2_SprintReview_2.pdf
  docs/pdf/DAJ_Deliverable_2_SprintReview_3.pdf
  docs/pdf/DAJ_Deliverable_2_TeamMemberReport_3.pdf
  docs/pdf/DAJ_Deliverable_2_UserStory.pdf
  docs/pdf/DAJ_Deliverable_3_ConfigManagement.pdf
  docs/pdf/DAJ_Deliverable_3_DesignPattern.pdf
  docs/pdf/DAJ_Deliverable_3_DomainModel.pdf
  docs/pdf/DAJ_Deliverable_3_ProjectDescription.pdf
  docs/pdf/DAJ_Deliverable_3_SRS.pdf
  docs/pdf/DAJ_Deliverable_3_SequenceDiagram.pdf
  docs/pdf/DAJ_Deliverable_3_SoftwareArchitecture.pdf
  docs/pdf/DAJ_Deliverable_3_SprintReview_4.pdf
  docs/pdf/DAJ_Deliverable_3_SprintReview_5.pdf
  docs/pdf/DAJ_Deliverable_3_TestPlan.pdf
  docs/pdf/DAJ_Deliverable_3_UseCaseModel.pdf
  docs/pdf/DAJ_Deliverable_3_UserStory.pdf
Labels: docs

Add files via upload
  docs/COS420_Presentations' Guidelines_Spring 2020.pdf
Labels: docs

[CI SKIP] push pdf docs
  docs/pdf/DAJ_Deliverable_1_SprintReview_1.pdf
  docs/pdf/DAJ_Deliverable_2_DomainModel.pdf
  docs/pdf/DAJ_Deliverable_2_FocusGroup.pdf
  docs/pdf/DAJ_Deliverable_2_ProjectDescription.pdf
  docs/pdf/DAJ_Deliverable_2_SprintReview_2.pdf
  docs/pdf/DAJ_Deliverable_2_SprintReview_3.pdf
  docs/pdf/DAJ_Deliverable_2_TeamMemberReport_3.pdf
  docs/pdf/DAJ_Deliverable_2_UserStory.pdf
  docs/pdf/DAJ_Deliverable_3_ConfigManagement.pdf
  docs/pdf/DAJ_Deliverable_3_DesignPattern.pdf
  docs/pdf/DAJ_Deliverable_3_SRS.pdf
  docs/pdf/DAJ_Deliverable_3_SequenceDiagram.pdf
  docs/pdf/DAJ_Deliverable_3_SoftwareArchitecture.pdf
  docs/pdf/DAJ_Deliverable_3_SprintReview_4.pdf
  docs/pdf/DAJ_Deliverable_3_SprintReview_5.pdf
  docs/pdf/DAJ_Deliverable_3_TestPlan.pdf
  docs/pdf/DAJ_Deliverable_3_UseCaseModel.pdf
Labels: docs

metronome functionality added
  src/static/index.html
  src/static/metronome.mp3
  src/static/polychord.js
  src/static/style.css
Labels: code, frontend

[CI SKIP] push pdf docs
  docs/pdf/DAJ_Deliverable_1_SprintReview_1.pdf
  docs/pdf/DAJ_Deliverable_2_DomainModel.pdf
  docs/pdf/DAJ_Deliverable_2_FocusGroup.pdf
  docs/pdf/DAJ_Deliverable_2_ProjectDescription.pdf
  docs/pdf/DAJ_Deliverable_2_SprintReview_2.pdf
  docs/pdf/DAJ_Deliverable_2_SprintReview_3.pdf
  docs/pdf/DAJ_Deliverable_2_TeamMemberReport_3.pdf
  docs/pdf/DAJ_Deliverable_2_UserStory.pdf
  docs/pdf/DAJ_Deliverable_3_ConfigManagement.pdf
  docs/pdf/DAJ_Deliverable_3_DesignPattern.pdf
  docs/pdf/DAJ_Deliverable_3_SRS.pdf
  docs/pdf/DAJ_Deliverable_3_SequenceDiagram.pdf
  docs/pdf/DAJ_Deliverable_3_SoftwareArchitecture.pdf
  docs/pdf/DAJ_Deliverable_3_SprintReview_4.pdf
  docs/pdf/DAJ_Deliverable_3_SprintReview_5.pdf
  docs/pdf/DAJ_Deliverable_3_TestPlan.pdf
  docs/pdf/DAJ_Deliverable_3_UseCaseModel.pdf
Labels: docs

rename new docs & docs that definitely need work
  docs/markdown/DAJ_Deliverable_4_FuturePlan.md
  docs/markdown/DAJ_Deliverable_4_TestPlan.md
Labels: docs, markdown

[CI SKIP] push pdf docs
  docs/pdf/DAJ_Deliverable_1_SprintReview_1.pdf
  docs/pdf/DAJ_Deliverable_2_DomainModel.pdf
  docs/pdf/DAJ_Deliverable_2_FocusGroup.pdf
  docs/pdf/DAJ_Deliverable_2_ProjectDescription.pdf
  docs/pdf/DAJ_Deliverable_2_SprintReview_2.pdf
  docs/pdf/DAJ_Deliverable_2_SprintReview_3.pdf
  docs/pdf/DAJ_Deliverable_2_TeamMemberReport_3.pdf
  docs/pdf/DAJ_Deliverable_2_UserStory.pdf
  docs/pdf/DAJ_Deliverable_3_ConfigManagement.pdf
  docs/pdf/DAJ_Deliverable_3_DesignPattern.pdf
  docs/pdf/DAJ_Deliverable_3_SRS.pdf
  docs/pdf/DAJ_Deliverable_3_SequenceDiagram.pdf
  docs/pdf/DAJ_Deliverable_3_SoftwareArchitecture.pdf
  docs/pdf/DAJ_Deliverable_3_SprintReview_4.pdf
  docs/pdf/DAJ_Deliverable_3_SprintReview_5.pdf
  docs/pdf/DAJ_Deliverable_3_TestPlan.pdf
  docs/pdf/DAJ_Deliverable_3_UseCaseModel.pdf
  docs/pdf/DAJ_Deliverable_4_FuturePlan.pdf
  docs/pdf/DAJ_Deliverable_4_TestPlan.pdf
Labels: docs

add post_push script to fix docker tags
  src/hooks/post_push
Labels: code

[CI SKIP] push pdf docs
  docs/pdf/DAJ_Deliverable_1_SprintReview_1.pdf
  docs/pdf/DAJ_Deliverable_2_DomainModel.pdf
  docs/pdf/DAJ_Deliverable_2_FocusGroup.pdf
  docs/pdf/DAJ_Deliverable_2_ProjectDescription.pdf
  docs/pdf/DAJ_Deliverable_2_SprintReview_2.pdf
  docs/pdf/DAJ_Deliverable_2_SprintReview_3.pdf
  docs/pdf/DAJ_Deliverable_2_TeamMemberReport_3.pdf
  docs/pdf/DAJ_Deliverable_2_UserStory.pdf
  docs/pdf/DAJ_Deliverable_3_ConfigManagement.pdf
  docs/pdf/DAJ_Deliverable_3_DesignPattern.pdf
  docs/pdf/DAJ_Deliverable_3_SRS.pdf
  docs/pdf/DAJ_Deliverable_3_SequenceDiagram.pdf
  docs/pdf/DAJ_Deliverable_3_SoftwareArchitecture.pdf
  docs/pdf/DAJ_Deliverable_3_SprintReview_4.pdf
  docs/pdf/DAJ_Deliverable_3_SprintReview_5.pdf
  docs/pdf/DAJ_Deliverable_3_UseCaseModel.pdf
  docs/pdf/DAJ_Deliverable_4_FuturePlan.pdf
  docs/pdf/DAJ_Deliverable_4_TestPlan.pdf
Labels: docs

Correct post_push Dockerhub script
  src/hooks/post_push
Labels: code

[CI SKIP] push pdf docs
  docs/pdf/DAJ_Deliverable_1_SprintReview_1.pdf
  docs/pdf/DAJ_Deliverable_2_DomainModel.pdf
  docs/pdf/DAJ_Deliverable_2_FocusGroup.pdf
  docs/pdf/DAJ_Deliverable_2_ProjectDescription.pdf
  docs/pdf/DAJ_Deliverable_2_SprintReview_2.pdf
  docs/pdf/DAJ_Deliverable_2_SprintReview_3.pdf
  docs/pdf/DAJ_Deliverable_2_TeamMemberReport_3.pdf
  docs/pdf/DAJ_Deliverable_2_UserStory.pdf
  docs/pdf/DAJ_Deliverable_3_ConfigManagement.pdf
  docs/pdf/DAJ_Deliverable_3_DesignPattern.pdf
  docs/pdf/DAJ_Deliverable_3_SRS.pdf
  docs/pdf/DAJ_Deliverable_3_SequenceDiagram.pdf
  docs/pdf/DAJ_Deliverable_3_SoftwareArchitecture.pdf
  docs/pdf/DAJ_Deliverable_3_SprintReview_4.pdf
  docs/pdf/DAJ_Deliverable_3_SprintReview_5.pdf
  docs/pdf/DAJ_Deliverable_3_UseCaseModel.pdf
  docs/pdf/DAJ_Deliverable_4_FuturePlan.pdf
  docs/pdf/DAJ_Deliverable_4_TestPlan.pdf
Labels: docs

correct post push again
  src/hooks/post_push
Labels: code

[CI SKIP] push pdf docs
  docs/pdf/DAJ_Deliverable_1_SprintReview_1.pdf
  docs/pdf/DAJ_Deliverable_2_DomainModel.pdf
  docs/pdf/DAJ_Deliverable_2_FocusGroup.pdf
  docs/pdf/DAJ_Deliverable_2_ProjectDescription.pdf
  docs/pdf/DAJ_Deliverable_2_SprintReview_2.pdf
  docs/pdf/DAJ_Deliverable_2_SprintReview_3.pdf
  docs/pdf/DAJ_Deliverable_2_TeamMemberReport_3.pdf
  docs/pdf/DAJ_Deliverable_2_UserStory.pdf
  docs/pdf/DAJ_Deliverable_3_ConfigManagement.pdf
  docs/pdf/DAJ_Deliverable_3_DesignPattern.pdf
  docs/pdf/DAJ_Deliverable_3_SRS.pdf
  docs/pdf/DAJ_Deliverable_3_SequenceDiagram.pdf
  docs/pdf/DAJ_Deliverable_3_SoftwareArchitecture.pdf
  docs/pdf/DAJ_Deliverable_3_SprintReview_4.pdf
  docs/pdf/DAJ_Deliverable_3_SprintReview_5.pdf
  docs/pdf/DAJ_Deliverable_3_UseCaseModel.pdf
  docs/pdf/DAJ_Deliverable_4_FuturePlan.pdf
  docs/pdf/DAJ_Deliverable_4_TestPlan.pdf
Labels: docs

correct npm package info
  src/.devcontainer/Dockerfile
  src/karma.conf.js
  src/package.json
Labels: code, dev

[CI SKIP] push pdf docs
  docs/pdf/DAJ_Deliverable_1_SprintReview_1.pdf
  docs/pdf/DAJ_Deliverable_2_DomainModel.pdf
  docs/pdf/DAJ_Deliverable_2_FocusGroup.pdf
  docs/pdf/DAJ_Deliverable_2_ProjectDescription.pdf
  docs/pdf/DAJ_Deliverable_2_SprintReview_2.pdf
  docs/pdf/DAJ_Deliverable_2_SprintReview_3.pdf
  docs/pdf/DAJ_Deliverable_2_TeamMemberReport_3.pdf
  docs/pdf/DAJ_Deliverable_2_UserStory.pdf
  docs/pdf/DAJ_Deliverable_3_ConfigManagement.pdf
  docs/pdf/DAJ_Deliverable_3_DesignPattern.pdf
  docs/pdf/DAJ_Deliverable_3_SRS.pdf
  docs/pdf/DAJ_Deliverable_3_SequenceDiagram.pdf
  docs/pdf/DAJ_Deliverable_3_SoftwareArchitecture.pdf
  docs/pdf/DAJ_Deliverable_3_SprintReview_4.pdf
  docs/pdf/DAJ_Deliverable_3_SprintReview_5.pdf
  docs/pdf/DAJ_Deliverable_3_UseCaseModel.pdf
  docs/pdf/DAJ_Deliverable_4_FuturePlan.pdf
  docs/pdf/DAJ_Deliverable_4_TestPlan.pdf
Labels: docs

Update DAJ_Deliverable_4_TestPlan.md
  docs/markdown/DAJ_Deliverable_4_TestPlan.md
Labels: docs, markdown

[CI SKIP] push pdf docs
  docs/assets/uml/accountmanagementinterfaceUserCase.png
  docs/assets/uml/chordExcerciseSequenceAnalysis.png
  docs/assets/uml/chordExcerciseSequenceDiagram.png
  docs/assets/uml/chordmatchSequenceAnalysis.png
  docs/assets/uml/chordmatchSequenceDesign.png
  docs/assets/uml/detailedDesign.png
  docs/assets/uml/pianoDomainModel.png
  docs/assets/uml/pianokeyboardUserCase.png
  docs/assets/uml/playbackinterfaceUserCase.png
  docs/assets/uml/playbackperipheralUserCase.png
  docs/assets/uml/progressionExcerciseSequenceAnalysis.png
  docs/assets/uml/progressionExcerciseSequenceDiagram.png
  docs/assets/uml/saveprogressionSequenceAnalysis.png
  docs/assets/uml/saveprogressionSequenceDesign.png
  docs/assets/uml/signinwgoogleSequenceAnalysis.png
  docs/assets/uml/signinwgoogleSequenceDesign.png
  docs/assets/uml/synthDomainModel.png
  docs/assets/uml/testuml.png
  docs/assets/uml/uploadprogressionSequenceAnalysis.png
  docs/assets/uml/uploadprogressionSequenceDesign.png
  docs/assets/uml/userDataDomainModel.png
  docs/pdf/DAJ_Deliverable_1_SprintReview_1.pdf
  docs/pdf/DAJ_Deliverable_2_DomainModel.pdf
  docs/pdf/DAJ_Deliverable_2_FocusGroup.pdf
  docs/pdf/DAJ_Deliverable_2_ProjectDescription.pdf
  docs/pdf/DAJ_Deliverable_2_SprintReview_2.pdf
  docs/pdf/DAJ_Deliverable_2_SprintReview_3.pdf
  docs/pdf/DAJ_Deliverable_2_TeamMemberReport_3.pdf
  docs/pdf/DAJ_Deliverable_2_UserStory.pdf
  docs/pdf/DAJ_Deliverable_3_ConfigManagement.pdf
  docs/pdf/DAJ_Deliverable_3_DesignPattern.pdf
  docs/pdf/DAJ_Deliverable_3_SRS.pdf
  docs/pdf/DAJ_Deliverable_3_SequenceDiagram.pdf
  docs/pdf/DAJ_Deliverable_3_SoftwareArchitecture.pdf
  docs/pdf/DAJ_Deliverable_3_SprintReview_4.pdf
  docs/pdf/DAJ_Deliverable_3_SprintReview_5.pdf
  docs/pdf/DAJ_Deliverable_3_UseCaseModel.pdf
  docs/pdf/DAJ_Deliverable_4_FuturePlan.pdf
  docs/pdf/DAJ_Deliverable_4_TestPlan.pdf
Labels: docs

Update DAJ_Deliverable_3_DesignPattern.md
  docs/markdown/DAJ_Deliverable_3_DesignPattern.md
Labels: docs, markdown

[CI SKIP] push pdf docs
  docs/pdf/DAJ_Deliverable_1_SprintReview_1.pdf
  docs/pdf/DAJ_Deliverable_2_DomainModel.pdf
  docs/pdf/DAJ_Deliverable_2_FocusGroup.pdf
  docs/pdf/DAJ_Deliverable_2_ProjectDescription.pdf
  docs/pdf/DAJ_Deliverable_2_SprintReview_2.pdf
  docs/pdf/DAJ_Deliverable_2_SprintReview_3.pdf
  docs/pdf/DAJ_Deliverable_2_TeamMemberReport_3.pdf
  docs/pdf/DAJ_Deliverable_2_UserStory.pdf
  docs/pdf/DAJ_Deliverable_3_ConfigManagement.pdf
  docs/pdf/DAJ_Deliverable_3_DesignPattern.pdf
  docs/pdf/DAJ_Deliverable_3_SRS.pdf
  docs/pdf/DAJ_Deliverable_3_SequenceDiagram.pdf
  docs/pdf/DAJ_Deliverable_3_SoftwareArchitecture.pdf
  docs/pdf/DAJ_Deliverable_3_SprintReview_4.pdf
  docs/pdf/DAJ_Deliverable_3_SprintReview_5.pdf
  docs/pdf/DAJ_Deliverable_3_UseCaseModel.pdf
  docs/pdf/DAJ_Deliverable_4_FuturePlan.pdf
  docs/pdf/DAJ_Deliverable_4_TestPlan.pdf
Labels: docs

detailed design diagram updates
  docs/assets/uml/detailedDesign.png
  docs/markdown/DAJ_Deliverable_3_DesignPattern.md
  docs/uml/detailedDesign.pu
  docs/uml/detailedDesignPianoPlay.pu
Labels: docs, markdown, uml

[CI SKIP] push pdf docs
  docs/assets/uml/detailedDesign.png
  docs/assets/uml/detailedDesignPianoPlay.png
  docs/pdf/DAJ_Deliverable_1_SprintReview_1.pdf
  docs/pdf/DAJ_Deliverable_2_DomainModel.pdf
  docs/pdf/DAJ_Deliverable_2_FocusGroup.pdf
  docs/pdf/DAJ_Deliverable_2_ProjectDescription.pdf
  docs/pdf/DAJ_Deliverable_2_SprintReview_2.pdf
  docs/pdf/DAJ_Deliverable_2_SprintReview_3.pdf
  docs/pdf/DAJ_Deliverable_2_TeamMemberReport_3.pdf
  docs/pdf/DAJ_Deliverable_2_UserStory.pdf
  docs/pdf/DAJ_Deliverable_3_ConfigManagement.pdf
  docs/pdf/DAJ_Deliverable_3_DesignPattern.pdf
  docs/pdf/DAJ_Deliverable_3_SRS.pdf
  docs/pdf/DAJ_Deliverable_3_SequenceDiagram.pdf
  docs/pdf/DAJ_Deliverable_3_SoftwareArchitecture.pdf
  docs/pdf/DAJ_Deliverable_3_SprintReview_4.pdf
  docs/pdf/DAJ_Deliverable_3_SprintReview_5.pdf
  docs/pdf/DAJ_Deliverable_3_UseCaseModel.pdf
  docs/pdf/DAJ_Deliverable_4_FuturePlan.pdf
  docs/pdf/DAJ_Deliverable_4_TestPlan.pdf
Labels: docs

detailed design image change
  docs/markdown/DAJ_Deliverable_3_DesignPattern.md
Labels: docs, markdown

rename for deliverable design doc
  docs/markdown/DAJ_Deliverable_4_DesignPattern.md
Labels: docs, markdown

[CI SKIP] push pdf docs
  docs/pdf/DAJ_Deliverable_1_SprintReview_1.pdf
  docs/pdf/DAJ_Deliverable_2_DomainModel.pdf
  docs/pdf/DAJ_Deliverable_2_FocusGroup.pdf
  docs/pdf/DAJ_Deliverable_2_ProjectDescription.pdf
  docs/pdf/DAJ_Deliverable_2_SprintReview_2.pdf
  docs/pdf/DAJ_Deliverable_2_SprintReview_3.pdf
  docs/pdf/DAJ_Deliverable_2_TeamMemberReport_3.pdf
  docs/pdf/DAJ_Deliverable_2_UserStory.pdf
  docs/pdf/DAJ_Deliverable_3_ConfigManagement.pdf
  docs/pdf/DAJ_Deliverable_3_DesignPattern.pdf
  docs/pdf/DAJ_Deliverable_3_SRS.pdf
  docs/pdf/DAJ_Deliverable_3_SequenceDiagram.pdf
  docs/pdf/DAJ_Deliverable_3_SoftwareArchitecture.pdf
  docs/pdf/DAJ_Deliverable_3_SprintReview_4.pdf
  docs/pdf/DAJ_Deliverable_3_SprintReview_5.pdf
  docs/pdf/DAJ_Deliverable_3_UseCaseModel.pdf
  docs/pdf/DAJ_Deliverable_4_DesignPattern.pdf
  docs/pdf/DAJ_Deliverable_4_FuturePlan.pdf
  docs/pdf/DAJ_Deliverable_4_TestPlan.pdf
Labels: docs

attempting to force image update
  docs/uml/detailedDesign.pu
Labels: docs, uml

[CI SKIP] push pdf docs
  docs/assets/uml/detailedDesign.png
  docs/pdf/DAJ_Deliverable_1_SprintReview_1.pdf
  docs/pdf/DAJ_Deliverable_2_DomainModel.pdf
  docs/pdf/DAJ_Deliverable_2_FocusGroup.pdf
  docs/pdf/DAJ_Deliverable_2_ProjectDescription.pdf
  docs/pdf/DAJ_Deliverable_2_SprintReview_2.pdf
  docs/pdf/DAJ_Deliverable_2_SprintReview_3.pdf
  docs/pdf/DAJ_Deliverable_2_TeamMemberReport_3.pdf
  docs/pdf/DAJ_Deliverable_2_UserStory.pdf
  docs/pdf/DAJ_Deliverable_3_ConfigManagement.pdf
  docs/pdf/DAJ_Deliverable_3_SRS.pdf
  docs/pdf/DAJ_Deliverable_3_SequenceDiagram.pdf
  docs/pdf/DAJ_Deliverable_3_SoftwareArchitecture.pdf
  docs/pdf/DAJ_Deliverable_3_SprintReview_4.pdf
  docs/pdf/DAJ_Deliverable_3_SprintReview_5.pdf
  docs/pdf/DAJ_Deliverable_3_UseCaseModel.pdf
  docs/pdf/DAJ_Deliverable_4_DesignPattern.pdf
  docs/pdf/DAJ_Deliverable_4_FuturePlan.pdf
  docs/pdf/DAJ_Deliverable_4_TestPlan.pdf
Labels: docs

image update worked, fixing force change
  docs/uml/detailedDesign.pu
Labels: docs, uml

correct unit tests, add chrome
  src/karma.conf.js
  src/package.json
  src/static/polychord.js
  src/tests/polychordSpec.js
  src/tests/testvars.js
Labels: code, tests, frontend

add sprint review & add reason for lack of proof on test plan
  docs/markdown/DAJ_Deliverable_4_SprintReview_6.md
  docs/markdown/DAJ_Deliverable_4_TestPlan.md
Labels: docs, markdown

.github/labeler.yml:

# Add 'code' to any changes within 'src' folder or any subfolders
code:
  - src/**/*
tests:
  - src/tests/**/*
frontend:
  - src/static/**/*
dev:
  - src/.devcontainer/**/*
 # Add 'code' to any changes docs 'example' folder or any subfolders
docs:
  - docs/**/*
markdown:
  - docs/markdown/*
uml:
  - docs/uml/*
cicd:
  - .github/**/*
  - .github*
  - .drone/**/*
  - .drone*
