Repository devinchristianson/daj, pull requests merged in 2020-04, with the labels that each got.

#76 Add testing capability for Unit/Integration tests
  .gitignore
  src/.devcontainer/Dockerfile
  src/karma.conf.js
  src/package-lock.json
  src/package.json
  src/static/index.html
  src/static/polychord.js
  src/tests/polychordSpec.js
  src/tests/testvars.js
Labels: code, dev

#77 Google sign on merge
  src/server.py
Labels: code

#80 Dc d3 config
  docs/markdown/DAJ_Deliverable_3_ConfigManagement.md
  docs/markdown/DAJ_Deliverable_3_SprintReview_4.md
  docs/markdown/DAJ_Deliverable_3_TestPlan.md
Labels: docs, markdown

#81 Changes to index.html and polychord.js
  src/static/index.html
  src/static/polychord.js
Labels: code, frontend

#82 Refactoring, added sustain support
  src/static/index.html
  src/static/polychord.js
  src/static/style.css
Labels: code, frontend

#83 Config doc, plus Test Plan doc structure
  docs/markdown/DAJ_Deliverable_3_ConfigManagement.md
  docs/markdown/DAJ_Deliverable_3_TestPlan.md
Labels: docs, markdown

#84 Design Pattern and Architecture Docs
  docs/assets/uml/architecture.png
  docs/assets/uml/dcd1.png
  docs/assets/uml/dcd2.png
  docs/assets/uml/detailed_design.png
  docs/markdown/DAJ_Deliverable_3_DesignPattern.md
  docs/markdown/DAJ_Deliverable_3_SoftwareArchitecture.md
Labels: docs, markdown

#85 Dc d3 config test
  docs/markdown/DAJ_Deliverable_3_SprintReview_4.md
  docs/markdown/DAJ_Deliverable_3_TestPlan.md
Labels: docs, markdown

#86 Fix/Reupload UML pdfs
  docs/assets/architecture.png
  docs/assets/dcd1.png
  docs/assets/dcd2.png
  docs/assets/detailed_design.png
  docs/markdown/DAJ_Deliverable_3_DesignPattern.md
  docs/markdown/DAJ_Deliverable_3_SoftwareArchitecture.md
Labels: docs, markdown

#87 Cleanup google signon stuff
  src/requirements.txt
  src/server.py
  src/static/index.html
  src/static/polychord.js
Labels: code, frontend

#89 Add Section 2 to Config. Management Plan
  docs/markdown/DAJ_Deliverable_3_ConfigManagement.md
Labels: docs, markdown

#90 clean up config doc, complete some unfinished sections
  docs/markdown/DAJ_Deliverable_3_ConfigManagement.md
Labels: docs, markdown

#91 Add section 4 to Config Management Plan
  docs/markdown/DAJ_Deliverable_3_ConfigManagement.md
Labels: docs, markdown

#93 fix wording in sections 4.1.1 and 4.1.2
  docs/markdown/DAJ_Deliverable_3_ConfigManagement.md
Labels: docs, markdown
