Repository devinchristianson/daj, pull requests merged in 2020-03, with the labels that each got.

#51 add octave switch functionality
  src/static/polychord.js
Labels: code

#52 add buttons and functions for octave switch
  src/static/index.html
  src/static/polychord.js
  src/static/style.css
Labels: code

#53 Update Use Case, add to sequence doc
  docs/markdown/DAJ_Deliverable_2_SequenceDiagram.md
  docs/markdown/DAJ_Deliverable_2_UseCaseModel.md
  docs/uml/chordmatchSequenceAnalysis.pu
  docs/uml/chordmatchSequenceDesign.pu
Labels: docs, markdown, uml

#55 add google sign-on sequence diagrams
  docs/markdown/DAJ_Deliverable_2_SequenceDiagram.md
  docs/uml/signinwgoogleSequenceAnalysis.pu
  docs/uml/signinwgoogleSequenceDesign.pu
Labels: docs, markdown, uml

#56 add 2 domain models
  docs/markdown/DAJ_Deliverable_2_DomainModel.md
  docs/uml/pianoDomainModel.pu
  docs/uml/userDataDomainModel.pu
Labels: docs, markdown, uml

#57 Fill out focus group document
  docs/markdown/DAJ_Deliverable_2_FocusGroup.md
Labels: docs, markdown

#58 Dc d2 sprint3review
  docs/markdown/DAJ_Deliverable_2_SprintReview_2.md
  docs/markdown/DAJ_Deliverable_2_SprintReview_3.md
Labels: docs, markdown

#61 Fill out member report for sprints 2/3
  docs/markdown/DAJ_Deliverable_2_TeamMemberReport_3.md
Labels: docs, markdown

#63 Update Team Member Report Document
  docs/markdown/DAJ_Deliverable_2_TeamMemberReport_3.md
Labels: docs, markdown

#64 Fix Focus Group Document
  docs/markdown/DAJ_Deliverable_2_FocusGroup.md
Labels: docs, markdown
